* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin:0;
  padding:0;
}

body {
  background: rgb(34,193,195);
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 99%);
  color:#ffffff;
}

.container {
  margin: 0 auto;
  max-width: fit-content;
}

.title {
  text-align: center;
  font-size: 3rem;
}

.input_holder {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

input,
button {
  padding: 10px 20px;
  background-color:rgb(233, 232, 232);
  color:black;
  outline:none;
  border:none;
}

input {
  width: 250px;
}

input::placeholder {
  color:#141313;
  font-size: medium;
}

button:hover {
  cursor: pointer;
  background-color:sienna;
}

.list {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.toDo {
  background-color:#1d1d1d;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  display: flex;
  gap: 10px;
}

.icon:hover {
  cursor: pointer;
  color:sienna;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #0000006c;
  display: grid;
  place-items: center;
}

.popup {
  position: relative;
  background-color: #696969;
  width: 400px;
  padding: 10px;
}

.cross {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;
}

.cross:hover {
  color: #c4c4c4;
}

.popup h1 {
  text-align: center;
  font-weight: 500;
}

.popup__input_holder {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-bottom: 30px;
}

.popup__input_holder input,
.popup__input_holder button {
  background-color:black;
  color:white;
}

.popup__input_holder input::placeholder {
  color: #383838;
}

.popup__input_holder button:hover {
  background-color:sienna;
}






.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}














